#about,
#skills,
#portfolio,
#contact,
#soft-and-hard-skills{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 2rem;
    background-color: #F4F4F4;
    margin-top: 1.8rem;
}
#about{
    align-items: center;
}
#about .presentation{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

#about .presentation-buttons{
    justify-content: center;
}
.about-svg{
    display: none;
}

.about-svg img{
    display: none;
}

@media screen and (min-width: 1000px){
    .about-svg img{
        height: 100%;
        width:  100%;
        margin: 0 auto;
        display: block;
    }
    .about-svg{
        height: 100%;
        width: 50%;
        margin: 0 auto;
        display: block;
    }

    #about,
    #skills,
    #portfolio,
    #contact{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        border-radius: 2rem;
        background-color: #F4F4F4;
        margin-top: 1.8rem;
        padding: 6rem 0;
    }
    #about .presentation{
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 0 2rem;
        height: 80%;
    }
    #about .about-me-prez{
        margin: 0 4rem;
    }

    #about .presentation-buttons{
        justify-content: center;
    }
}