@media screen and (min-width: 1000px){
  .footer {
    background-color: #333333;
    padding: 2rem 4rem;
    border-radius: 2rem;
    margin-top: 1.8rem;
    border: 1px solid #FFF;
    height: 10rem;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */

  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .footer p {
    margin: 0;
    font-size: 2rem;
    color: #FFF;
  }

  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 60%;
    justify-content: space-around;
  }

  .footer-links li {
    margin-right: 1.5rem;
    display: flex;
    justify-content: space-around;
  }

  .footer-links a {
    font-size: 2rem;
    color: #FFF;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    padding: 0 2rem;
    border-right: #333333 2px solid;
    border-left: #333333 2px solid;
    border-radius: 2rem;
  }

  .footer-links a:hover {
    color: #FFBD00;
    border-right: #FFBD00 2px solid;
    border-left: #FFBD00 2px solid;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
    padding: 0 2rem;
  }

}
.footer {
    margin-top: 1.8rem;
    background-color: #333333;
    /*padding: 2rem 4rem;*/
    border-radius: 2rem;
    /*margin-top: 1.8rem;*/
    border: 1px solid #FFF;
    height: 10rem;
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */

}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer p {
    margin: 0;
    /*font-size: 2rem;*/
    color: #FFF;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.footer-links li {
    /*margin-right: 1.5rem;*/
    display: flex;
    justify-content: space-around;
}

.footer-links a {
    /*font-size: 2rem;*/
    color: #FFF;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    padding: 0 0.5rem;
    /*padding: 0 2rem;*/
    border-right: #333333 2px solid;
    border-left: #333333 2px solid;
    border-radius: 2rem;
}

.footer-links a:hover {
    color: #FFBD00;
    border-right: #FFBD00 2px solid;
    border-left: #FFBD00 2px solid;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
    padding: 0 0.5rem;
}


