.project-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
#portfolio .photo{
    /*width: 40rem;*/
    margin: 0 auto;
    max-width: 90%;
    /*width: 50%;*/
    /* width: 20rem; */
    height: 15rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.5s;
}
#portfolio .photo:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.5s;
}
.project-description h2{
    width: 100%;
    /*padding-left: 2rem;*/
    text-align: center;
    font-size: 4rem;
}
.project-description h2 span{
    color: #FFBD00;
    font-size: 4rem;
}

#portfolio .portfolio-redirection img{
    width: 2rem;
}

.project-text{
    font-size: 2rem;
    line-height: 4rem;
    width: 80%;
    /*margin: 0 auto;*/
    /*padding-bottom: 4rem;*/
}

.project-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    /*padding: 8rem 0;*/
}
.project-block a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-block:nth-child(even){
    /*flex-direction: column-reverse;*/
}
.portfolio-redirection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: justify;
    padding: 0 2rem;
    margin-bottom: 2rem;
}
.case-study{
    /* width: 10rem; */
    text-decoration: none;
    color: #024E31;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    margin: 0 auto;

}

.clickable-section{
    text-decoration: none;
}
.case-study p{
    font-size: 2rem;
    text-decoration: none;
}

@media screen and (min-width: 1000px){
    #portfolio .photo{
        /*width: 40rem;*/
        margin: 0 4rem;
        max-width: 90%;
        /* width: 50%; */
        height: 20rem;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        transition: 0.5s;

    }
    #portfolio .photo:hover{
        cursor: pointer;
        transform: scale(1.04);
        transition: 0.5s;
    }
    .project-description h2{
        width: 40%;
        padding-left: 2rem;
        text-align: center;
        font-size: 4rem;
    }
    .project-description h2 span{
        color: #FFBD00;
        font-size: 4rem;
    }

    #portfolio .portfolio-redirection img{
        width: 2rem;
    }

    .project-text{
        font-size: 2rem;
        line-height: 4rem;
        width: 80%;
        margin: 0 auto;
        /* padding-bottom: 2rem; */
    }

    .project-block{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem 0;
    }
    .project-block:nth-child(even){
        flex-direction: column-reverse;
    }
    .portfolio-redirection{
        width: 100%;
        text-align: justify;
        padding: 2rem 4rem;
    }
    .case-study{
        text-decoration: none;
        color: #024E31;
        transition: 0.3s ease;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: 35%; */
        margin: 0 auto;

    }

    .clickable-section{
        text-decoration: none;
        padding: 2rem 0;
    }
    .case-study p{
        font-size: 2rem;
        text-decoration: none;
    }




}

hr.dotted {
    border-top: 3px dotted #FFBD00;
  }
  
  .container-div-svg{
    position: relative;
    margin-bottom: 2rem;
  }

  .custom-shape-divider-top-1701429379 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -2rem;

    
}

.custom-shape-divider-top-1701429379 svg {
    position: relative;
    display: block;
    width: calc(194% + 1.3px);
    height: 80px;

}

.custom-shape-divider-top-1701429379 .shape-fill {
    fill: #FFBD00;
    height: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.custom-shape-divider-top-1701429626 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1701429626 svg {
    position: relative;
    display: block;
    width: calc(194% + 1.3px);
    height: 80px;
}

.custom-shape-divider-top-1701429626 .shape-fill {
    fill: #FFBD00;
}

.custom-shape-divider-top-1701429734 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1701429734 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 80px;
}

.custom-shape-divider-top-1701429734 .shape-fill {
    fill: #FFBD00;
}

